package ${basePackageName};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.boot.web.servlet.support.SpringBootServletInitializer;

@SpringBootApplication
public class ${capitalizedTableName}ApiApplication extends SpringBootServletInitializer {

	public static void main(String[] args) {
		SpringApplication.run(${capitalizedTableName}ApiApplication.class, args);
	}

}
