package ${basePackageName}.model.domain;

import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.GeneratedValue;
import javax.persistence.GenerationType;
import javax.persistence.Id;
import javax.persistence.Table;

import lombok.Data;

@Data
@Entity
@Table(name="${tableName}")
public class ${capitalizedEntityName} {
	
	@Id
	@GeneratedValue(strategy=GenerationType.IDENTITY)
	private ${pkDataType} ${pkAttributeName};

#foreach( $instanceVariable in $instanceVariableList )
    @Column(name="$instanceVariable.colName")
    $instanceVariable.scope $instanceVariable.dataType $instanceVariable.name;
    
#end
}
